
.Meaning em{
    color: grey;
    font-size: 15px;
    font-weight: 450;
    margin-bottom: 20px;
   
}
.Meaning h3{
  font-weight: 700;
    margin-bottom: 20px;
    font-size: 30px;
}

.Meaning p{
    font-size: 18px;
    font-weight: 450;
}